.tab-label {
  display: inline-block;
  background: #e5e5e5;
  color: #5f5f5f;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .tab-label {
    font-size: 12px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 300px) {
  .tab-label {
    font-size: 9px;
    padding: 7px 10px;
  }
}

.tab-label:hover {
  background: #d8d8d8;
}

.tab-label:active {
  background: #ccc;
}

input[name="tab-label"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#tab-0:checked ~ #tab-text {
  background: #fff;
  color: #000;
}

#tab-1:checked ~ #tab-image {
  background: #fff;
  color: #000;
}

#tab-2:checked ~ #tab-video {
  background: #fff;
  color: #000;
}

#tab-3:checked ~ #tab-table {
  background: #fff;
  color: #000;
}

#tab-4:checked ~ #tab-email {
  background: #fff;
  color: #000;
}
